<!DOCTYPE html> 
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>
  <body>

    
  
    
    
     
      <div class="container">
        <% if(success != ''){ %>
            <div class="alert alert-success">
              <strong>Success!</strong><%= success %>
            </div>
            <% } %>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form style="border: teal 1px solid;" action="/upload" role="form" method="POST" enctype="multipart/form-data">
          <h2 style="background-color: teal; padding: 5px; text-align: center;"><%= title %></h2>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Upload File</label>
              <input style="border: teal 2px solid;" type="file" class="col-md-8 form-control-file" name="file">
            </div>
            <div class="form-group row" style="padding: 5px;">
              <div class="col-md-3"></div>
              <button type="submit" class="col-md-2 form-control" value="Submit" style="background-color: teal; color: white;">Upload</button>
              <div class="col-md-7"></div>
            </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    </div>


    <div class="container">
        <div class="row">
            <% if(records.length > 0){ %>
                <% records.forEach(function(row){%>
                    <div class="col-md-4">
                        <img src= "./uploads/<%= row.imagename %>" alt="iamge" style="width: 100%; margin: 5px auto;">
                    </div>
                <% })}%>
        </div>
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
